In [38]:
import pandas as pd
import numpy as np
import time

from copy import deepcopy

# constants
DATA_LOC = "/home/ubuntu/projects/datasets/AP_test.txt"

# data formats
FORMAT_ID = "#index"
FORMAT_PAPER_TITLE = "#*"
FORMAT_AUTHORS = "#@"
FORMAT_YEAR = "#t"
FORMAT_VENUE = "#c"
FORMAT_CITATIONS = "#%"
FORMAT_ABSTRACT = "#!"

# data keys
ID = "id"
TITLE = "title"
AUTHOR = "author"
YEAR = "year"
VENUE = "venue"
CITATION = "citation"
ABSTRACT = "abstract"

In [39]:
def generatetables():
    main_table = list()
    author_table = list()
    citation_table = list()
    datum = dict()
    with open(DATA_LOC, "r", encoding='utf-8') as file:
        for line in file.readlines():            
            if FORMAT_ID in line:
                # yield already existing datum and continue
                if len(datum.keys()) > 0:
                    main_table.append(datum)
                datum = dict() # re-initialize local datum
                datum[ID] = line.strip(FORMAT_ID).strip()
            elif FORMAT_PAPER_TITLE in line:
                datum[TITLE] = line.strip(FORMAT_PAPER_TITLE).strip()
            elif FORMAT_CITATIONS in line:
                citation_table.append({ID: datum[ID], CITATION: line.strip(FORMAT_CITATIONS).strip()})
            elif FORMAT_AUTHORS in line: 
                for author in line.strip(FORMAT_AUTHORS).strip().split(';'):
                    author_table.append({ID: datum[ID], AUTHOR: author})                    
            elif FORMAT_YEAR in line: 
                datum[YEAR] = line.strip(FORMAT_YEAR).strip()
            elif FORMAT_VENUE in line: 
                datum[VENUE] = line.strip(FORMAT_VENUE).strip()
            elif FORMAT_ABSTRACT in line: 
                datum[ABSTRACT] = line.strip(FORMAT_ABSTRACT).strip()
    return main_table, author_table, citation_table

In [40]:
# generate all tables
start = time.time()
main, author, cit = generatetables()
print(time.time()-start)

0.004236459732055664

In [41]:
# combine all tables and compute data
start = time.time()
main_df = pd.DataFrame(main, columns={ID, TITLE, YEAR, VENUE, ABSTRACT})
author_df = pd.DataFrame(author, columns={ID, AUTHOR})
cit_df = pd.DataFrame(cit, columns={ID, CITATION})
data = main_df.merge(author_df, how='outer', on=ID).merge(cit_df, how='outer', on=ID)
print(time.time()-start)

0.05514383316040039

In [42]:
#total count of data
len(data)

442

In [43]:
# solution A

# distinct authors
len(data.author.unique())

215

In [44]:
# distinct venues
len(data.venue.unique())

64

In [45]:
# distinct publications
len(data.title.unique())

142

In [46]:
# distinct citations
len(data.citation.unique())

140

# Solution B

No, the solutions are not accurate. The specified example contains the year of the publication in the publi

In [61]:
data.groupby([AUTHOR, ID])[ID].count()

author                     id
                           2       1
                           20      1
A F. Smeaton               64      1
A Kreczmar                 34      1
A M. Davis                 142     1
A Salwicki                 34      1
A. A. Rampuria             7       1
A. D. Wyner                19      1
A. G. Akritas              7       1
Adele Goldberg             103     1
Alan L. Tharp              77      1
Allan Ramsay               74      1
Andre Schiper              71      1
Andreas Reuter             117    16
Andrzej Salwicki           59      1
Anne Lee Paxton            73      1
Arto Salomaa               15      1
Arun K. Majumdar           55      1
Avi Rushinek               75      1
Avi Wigderson              17      1
                           18      1
B N.T Foxon                113     1
Beat Hirsbrunner           71      1
Bertrand Meyer             68      1
Broy Manfred               35      1
Bruce W. Leverett          49      1
C D. Paice                 66      1
C D.F Miller               115     1
C Faulle                   72      1
C J. van Rijsbergen        62      1
                                  ..
T L. Kunii                 89      1
                           96      1
Theo Haerder               117    16
Tomek Strzalkowski         28      1
Tosiyasu L. Kunii          94      1
Tsutomu Kamimura           104     1
U Kulisch                  132     1
U W. Kulisch               134     1
U. W Kulisch               129     1
Ulrich Kulisch             123     1
Ulrich L. Hupbach          38      1
Ulrich W. Kulisch          122     1
Uzi Vishkin                17      1
V J. Rayward-Smith         114     1
Viacheslav E. Wolfengagen  27      1
Virgil D. Gligor           3       1
W Kramer                   134     1
W L. Miranker              128     1
                           134     1
Walt Scacchi               141     1
Willard L. Miranker        122     1
William C. Troy            30      1
William E. Perry           100     1
                           102     1
                           98      1
William R. Mallgren        78      1
Wolfgang Bibel             47      8
Wolfgang Effelsberg        135    16
Won Kim                    136    21
Y Wallach                  22      1
Name: id, Length: 227, dtype: int64

In [53]:
data[data[AUTHOR] == 'Theo Haerder'].groupby(ID).count()

     year  title  venue  abstract  author  citation
id
117    16     16     16         0      16        16